@font-face {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat-Regular.eot?76dd73b65bd21145e9f012bfffe355b7);
	src: local('☺'), url(/fonts/Montserrat-Regular.woff?de79e5f2c02e26b6202a90e6a36036a3) format('woff'), url(/fonts/Montserrat-Regular.ttf?ac98a5f5ca71180fe293683b5ea727a8) format('truetype'), url(/fonts/Montserrat-Regular.svg?beed151db615f9558c26c6faaa96a3f1) format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url(/fonts/Montserrat-SemiBold.eot?6ebb7f680f5ad26c68587735d2b7bce0);
	src: local('☺'), url(/fonts/Montserrat-SemiBold.woff?4c6e61b22477b758a7f9cfbe74496004) format('woff'), url(/fonts/Montserrat-SemiBold.ttf?04af9a9e62bb4c47bd55634f7fedfda3) format('truetype'), url(/fonts/Montserrat-SemiBold.svg?7af222fbca0d67a56acf4ae5ac2fdda2) format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Mulish';
	src: url(/fonts/Mulish-SemiBold.eot?de95a91d2aa70fa40a706fc776724648);
	src: local('☺'), url(/fonts/Mulish-SemiBold.woff?83e2b536e6d0aba19867c75b9a67516d) format('woff'), url(/fonts/Mulish-SemiBold.ttf?b7a7ba116cfe02e9990f25f6bc715b73) format('truetype'), url(/fonts/Mulish-SemiBold.svg?fafeae87488415aff24b0a4a312d5dbf) format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'proximanova';
	src: url(/fonts/proximanova_bold.eot?ce5b803548d826295f579457c1fdd0ce);
	src: local('☺'), url(/fonts/proximanova_bold.woff?1ffb7b00b6d614b0ffb61e229150d1d7) format('woff'), url(/fonts/proximanova_bold.ttf?7118f2a175088f4ae33363f239b3ee7b) format('truetype'), url(/fonts/proximanova_bold.svg?fcaab2524c5baabd71f6c808f6b129ed) format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'proximanova';
	src: url(/fonts/proximanova_regular.eot?c0ec13577b2d79bbb693e7ee7713aa70);
	src: local('☺'), url(/fonts/proximanova_regular.woff?99ce48dafec1a023fbf07e9b6b5720b4) format('woff'), url(/fonts/proximanova_regular.ttf?8181ca4b7c2d1189d78a51b22d190107) format('truetype'), url(/fonts/proximanova_regular.svg?84a96b7dcbf4f8ff761efa6f55d3e576) format('svg');
	font-weight: normal;
	font-style: normal;
}

